<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="full-screen" content="yes">
    <meta name="browsermode" content="application">
    <meta name="x5-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="mint/lib/style.css">
</head>

<body class="white">
    <div id="appCtrl" v-locak>
        <mt-header title="登录">
            <a href="javascript:;" @click="location.go(-1)" slot="left">
                <mt-button icon="back"></mt-button>
            </a>
        </mt-header>
        <div class="form-login">
            <div class="login-logo"></div>

            <mt-field 
            placeholder="请输入手机号码/姓名" 
            v-model="username"><i slot="icon" class="login-icon"></i></mt-field>

            <mt-field 
            placeholder="请输入6~20位之间的密码"
            type="password" v-model="psw"><i slot="icon" class="login-icon login-psw"></i></mt-field>

            <div style="padding:15px">
                <mt-button size="large" type="primary" @click.native="submit">登 录</mt-button>
                <p class="forget clearfix">
                    <a class="cGray left">忘记密码</a>
                    <a class="cGold right">立即注册</a>
                </p>
            </div>
        </div>
    </div>
    <script src="js/vue.min.js"></script>
    <script src="mint/lib/index.js"></script>
    <script>
    var vm = new Vue({
        el: '#appCtrl',

        data: function(){
            return {
                username:'',
                psw:''
            }
        },

        methods:{
            submit: function(){
                if(!this.username){
                    this.$toast('请输入手机号码/姓名');
                    return;
                }
                if(!this.psw){
                    this.$toast('请输入登录密码');
                    return;
                }
                if(this.psw.length<6||this.psw.length>20){
                    this.$toast('6~20位之间的密码');
                    return;
                }
            }
        }
    })
    </script>
</body>

</html>