$color-blue: #26a2ff;
$color-white: #fff;
$color-grey: #d9d9d9;
$color-gold: #C99D68;
$color-gold-light: #E5A035;
$border-color: #E1E1E1;
$success-color: #4caf50;
$error-color: #f44336;
$warning-color: #ffc107;


/* Cell Component */
$cell-value-color: #888;

/* Header Component */
$header-height: 40px;

/* Button Component */
$button-default-color: #333;
$button-default-background-color: #fff;
$button-default-plain-color: #D2D2D2;
$button-default-box-shadow: 0 0 1px #b8bbbf;
$button-primary-color: #fff;
$button-primary-background-color: #C99D68;
$button-danger-color: #fff;
$button-danger-background-color: #ef4f4f;

/* Tab Item Component */
$tab-item-font-size: 12px;

/* Tabbar Component */
$tabbar-background-color: #fff;
$tabbar-tab-item-selected-background-color: #fff;
$tabbar-tab-item-selected-color: $color-gold;

/* Navbar Component */
$navbar-background-color: #fff;
$tabbar-tab-item-selected-background-color: #fff;

/* Checklist Component */
$checklist-title-color: #888;

/* Radio Component */
$radio-title-color: #888;

/* z-index */
$z-index-normal: 1;
